__pycache__/
*.py[cod]
.venv/
.devcontainer/
.vscode/
.codex

# runtime outputs
/runs/
/checkpoints/

# experimental
src/pretrain/trainer_lejepa.py
src/pretrain/pretrain_mlm.py
pretrain_mlm.sh

# data files
/_papers-repos/
/third_party/
/datasets/*/*
!/datasets/*/*.yaml
!/datasets/*/*.ipynb
*.model
*.vocab
*.pth
*.pt
*.bin
*.pkl
*.csv

# visualizations
/figures/*
!/figures/style.mplstyle
!/figures/inference.py
!/figures/sme_mol.ipynb
